body {
  margin: 0;
  text-align: center;
  font-family: 'Kalam', cursive;
}
.top-container{
  background-color: #DEEDF0;
  padding-top: 80px;
  position: relative;

}
.middle-container{
  background-color: #DEEDF0;
  padding: 100px 0;
}
.bottom-container{
  background-color: #DEEDF0;
padding: 50px 0 20px;
}
h1{
  font-family: 'Kalam', cursive;
  margin: 0;
  width: 40%;
  margin: 0 auto;
  color: #F4C7AB;
  font-size: 50px;
  padding-bottom: 10px;
}
h2{
  color: #F4C7AB;
  font-family: 'Kalam', cursive;
  font-size: 2.5rem;
}
h3{
  color: #F4C7AB;
  font-family: 'Kalam', cursive;

}
p{
  font-size: 20px;
  color: #B2B8A3;
  line-height: 2;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: 0;
  width: 4%;
  margin: 100px auto;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}
.wdimg{
width: 40%;
float: left;
margin-right: 30px;
margin-top: 10px;
}
.adimg{
  width: 40%;
  float: right;
}
.intro{
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #B2B8A3;
  background-image: -webkit-linear-gradient(top, #B2B8A3, #11999e);
  background-image: -moz-linear-gradient(top, #B2B8A3, #11999e);
  background-image: -ms-linear-gradient(top, #B2B8A3, #11999e);
  background-image: -o-linear-gradient(top, #B2B8A3, #11999e);
  background-image: linear-gradient(to bottom, #B2B8A3, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #DEEDF0;
  background-image: -webkit-linear-gradient(top, #DEEDF0, #2bc4ad);
  background-image: -moz-linear-gradient(top, #DEEDF0, #2bc4ad);
  background-image: -ms-linear-gradient(top, #DEEDF0, #2bc4ad);
  background-image: -o-linear-gradient(top, #DEEDF0, #2bc4ad);
  background-image: linear-gradient(to bottom, #DEEDF0, #2bc4ad);
  text-decoration: none;
}
a{
  color: #B2B8A3;
  font-family: 'Kalam', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #F9F9F9;
}
.copyright{
  font-size: 0.75em;
  padding: 20px 0;
}
